<div class="registerScreen">
    <section class="registerPage">
        <div class="registerHeader">
            <div class="imageScreen">
                <img src="https://www.pinclipart.com/picdir/big/391-3911495_sign-up-login-transparent-login-logo-clipart.png"
                    style="width: 70px;">
            </div>
            <div class="registerOption">
                <div class="">
                    <a [class.IsActive]="service.IsDoctorActive" style="color: #883888 ;"
                        (click)='activeDoctor()'>Register for Doctor</a>
                </div>
                <div>
                    <a class="" [class.IsActive]="service.IsPatientActive" style="color: #883888 ;"
                        (click)="activePatient()">Register for
                        Patient</a>
                </div>
            </div>
        </div>
        <form [formGroup]="Form">
            <div class="registerBody">
                <div class="inputScreen">
                    <input type="text" formControlName="Name" placeholder=" Name" class="inputStyle" id="name"
                        autocomplete="off" />
                    <small class="text-danger d-block"
                        *ngIf="(name.touched ||submitted) && name.errors?.required">Please fill out
                        this field</small>
                    <small class="text-danger d-block"
                        *ngIf="(name.touched ||submitted) && name.errors?.minlength">field must contain
                        over 2 letters</small>
                    <small class="text-danger d-block" *ngIf="(name.touched ||submitted) && name.errors?.pattern">string
                        value only
                        accepted</small>
                </div>
                <ng-container *ngIf="service.IsDoctorActive">
                    <div class="inputScreen">
                        <input type="text" formControlName="Qualification" placeholder="Qualification"
                            class="inputStyle" id="qualification" autocomplete="off" />
                        <small class="text-danger d-block"
                            *ngIf="(qualification.touched ||submitted) && qualification.errors?.required">Please fill
                            out
                            this
                            field</small>
                        <small class="text-danger d-block"
                            *ngIf="(qualification.touched ||submitted) && qualification.errors?.minlength">field must
                            contain over 2
                            letters</small>
                        <small class="text-danger d-block"
                            *ngIf="(qualification.touched ||submitted) && qualification.errors?.pattern">string value
                            only
                            accepted</small>
                    </div>
                </ng-container>


                <div class="inputScreen">
                    <input type="email" formControlName="Email" placeholder="Email" class="inputStyle" id="email"
                        autocomplete="off" />
                    <small class="text-danger d-block"
                        *ngIf="(email.touched ||submitted) && email.errors?.required">Please fill out
                        this field</small>
                    <small class="text-danger d-block" *ngIf="(email.touched ||submitted) && email.errors?.email">Please
                        fill valid email
                    </small>
                </div>

                <div class="inputScreen">
                    <input type="text" formControlName="PhoneNumber" placeholder="Phone Number" class="inputStyle"
                        id="phoneNumber" autocomplete="off" />
                    <small class="text-danger d-block"
                        *ngIf="(phoneNumber.touched ||submitted) && phoneNumber.errors?.required">Please fill out this
                        field</small>
                    <small class="text-danger d-block"
                        *ngIf="(phoneNumber.touched ||submitted) && phoneNumber.errors?.minlength">PhoneNumber must 10
                        digit</small>
                </div>

                <div class="inputScreen">
                    <input type="text" formControlName="UserName" placeholder="User Name" class="inputStyle"
                        id="username" autocomplete="off" />
                    <small class="text-danger d-block"
                        *ngIf="(userName.touched ||submitted) && userName.errors?.required">Please fill
                        out this field</small>
                    <small class="text-danger d-block"
                        *ngIf="(userName.touched ||submitted) && userName.errors?.minlength">field must
                        contain over 4 letters</small>
                    <small class="text-danger d-block"
                        *ngIf="(userName.touched ||submitted) && userName.errors?.pattern">string value
                        only accepted</small>
                </div>

                <div class="inputScreen">
                    <input type="nu" formControlName="Password" placeholder="Password" class="inputStyle" id="password"
                        autocomplete="off" />
                    <small class="text-danger d-block"
                        *ngIf="(password.touched ||submitted) && password.errors?.required">Please fill
                        out this field</small>
                    <small class="text-danger d-block"
                        *ngIf="(password.touched ||submitted) && password.errors?.minlength">field must
                        contain over 5 letters</small>
                    <small class="text-danger d-block"
                        *ngIf="(password.touched ||submitted) && password.errors?.pattern">number value
                        only accepted</small>
                </div>
                <div class="inputScreen">
                    <input type="text" formControlName="ProfileImage" class="inputStyle" placeholder="Paste Image Url"
                        id="file" />
                </div>
            </div>
        </form>

        <div class="registerFooter">
            <div class="registerButtonScreen">
                <div class="">
                    <a type="button" (click)="createUser()" class="anchorStyle"><img src="assets/Images/register.png"
                            style="width: 100px;"></a>
                </div>
            </div>
        </div>
    </section>
</div>