<div class="">
    <div class="row navScreenStyle">
        <div class="col d-flex ">
            <div class="navcontent" [class.text-underline]="service.IsDoctorActive" (click)="getDoctorGridData()">
                Doctors</div>
            <div class="navcontent" [class.text-underline]="service.IsPatientActive" (click)="getPatientGridData()">
                Patients</div>
            <ng-container *ngIf="service.activateDoctor">
                <div class="navcontent" [class.text-underline]="service.IsAppointmentActive" (click)="getAppointmentList()">My Appointments</div>
            </ng-container>
            <ng-container *ngIf="service.activatePatient">
                <div class="navcontent" [class.text-underline]="service.IsBookingActive" (click)="getBookingData()">
                    My Bookings</div>
                <div class="navcontent" [class.text-underline]="service.IsAddBookingActive || service.fromBookingDetail" (click)="addBooking()">
                    Add Booking</div>
            </ng-container>
        </div>
        <div class="col  d-flex rightnavgap">
            <div class="navcontent" (click)="logout()">Logout</div>
            <div class="navcontent" (click)="getUserDetail()">My Profile</div>
            <div class="navcontent currentusername">{{service.currentUserDetail.Name}}</div>
            <div class="navcontent">
                <div class="alignimage">
                    <div class="userimage">
                        <div *ngIf="service.currentUserDetail.ProfileImage.length > 15">
                            <img [src]="service.currentUserDetail.ProfileImage" />

                        </div>
                        <div *ngIf="service.currentUserDetail.ProfileImage.length < 15" style="margin-top: -8px;">
                            <p class="firstletter">{{service.currentUserDetail.Name.charAt(0)}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>