<div class="addbooking">
    <div class="card">
        <div class="card-header text-center">
            <ng-container *ngIf="this.service.fromBookingDetail">Update Booking</ng-container>
            <ng-container *ngIf="!this.service.fromBookingDetail">Create Booking</ng-container>
        </div>
        <div class="card-body">
            <div class="main">
                <div class="">
                    <form [formGroup]="Form">
                        <div class="row form-group">
                            <div class="col text-right">Choose Doctor :</div>
                            <div class="col" style="padding-left: 0;">
                                <select name="" formControlName="DoctorRecId" class="form-control" id="">
                                    <option *ngFor="let item of service.doctorData" [value]="item.RecId">
                                        {{item.Name}}
                                    </option>
                                </select>
                                <small class="text-danger"
                                    *ngIf="(doctor.touched ||submitted) && doctor.errors?.required ">Please choose this
                                    field</small>
                            </div>
                        </div>
                        <input type="hidden" formControlName="PatientRecId">

                        <div class="row form-group">
                            <div class="col text-right">Choose Date :</div>
                            <div class="col" style="padding-left: 0;">
                                <input type="date" formControlName="BookingDate" class="form-control"
                                    placeholder="choose date">
                                <small class="text-danger"
                                    *ngIf="(bookingDate.touched ||submitted) && bookingDate.errors?.required ">Please
                                    choose this field</small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col text-right">Choose Time :</div>
                            <div class="col" style="padding-left: 0;">
                                <input type="time" class="form-control" formControlName="BookingTime"
                                    placeholder="choose time">
                                <small class="text-danger"
                                    *ngIf="(bookingTime.touched ||submitted) && bookingTime.errors?.required ">Please
                                    fill out this field</small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col text-right">Description :</div>
                            <div class="col" style="padding-left: 0;">
                                <input type="text" class="form-control" formControlName="Description"
                                    placeholder="description">
                                <small class="text-danger"
                                    *ngIf="(description.touched ||submitted) && description.errors?.required ">Please
                                    choose this field</small>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="bookingbuttonscreen" style="text-align: center;">
                    <ng-container *ngIf="this.service.fromBookingDetail">
                        <button class="bookingbutton" (click)="onSubmit()" type="button">Update</button>
                    </ng-container>
                    <ng-container *ngIf="!this.service.fromBookingDetail">
                        <button class="bookingbutton" (click)="onSubmit()" type="button">Create</button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>