<div class="registerScreen">
    <section class="registerPage">
        <div class="registerHeader">
            <div class="imageScreen">
                <img src="https://www.pinclipart.com/picdir/big/391-3911495_sign-up-login-transparent-login-logo-clipart.png"
                    style="width: 60px;">
            </div>
            <div class="registerOption">
                <div class="">
                    <a [class.IsActive]="service.IsDoctorActive" style="color: #883888 ;" (click)="activeDoctor()">
                        Doctor</a>
                </div>
                <div class="">
                    <a [class.IsActive]="service.IsPatientActive" style="color: #883888 ;" (click)="activePatient()">
                        Patient</a>
                </div>
            </div>
        </div>
        <form [formGroup]="Form">
            <div class="logInBody">
                <div class="inputScreen">
                    <input type="text" formControlName="UserName" placeholder="User Name" class="inputStyle"
                        id="username" autocomplete="off" />
                    <small class="text-danger d-block"
                        *ngIf="(username.touched ||submitted) && username.errors?.required">please fill out this
                        field</small>
                    <small class="text-danger d-block"
                        *ngIf="(username.touched || submitted) && username.errors?.minlength">field must contain over 3
                        letters</small>
                    <small class="text-danger d-block"
                        *ngIf="(username.touched || submitted) && username.errors?.pattern">string value only
                        accepted</small>
                </div>
                <div class="inputScreen">
                    <input type="password" formControlName="Password" placeholder="Password" class="inputStyle"
                        id="password" autocomplete="off" />
                    <small class="text-danger d-block"
                        *ngIf="(password.touched ||submitted) && password.errors?.required">please fill out this
                        field</small>
                    <small class="text-danger d-block"
                        *ngIf="(password.touched || submitted) && password.errors?.minlength">field must contain over 4
                        letters</small>
                </div>
            </div>
        </form>

        <div class="registerFooter">
            <div class="registerButtonScreen">
                <div class="logInButtonScreenStyle">
                    <div class="">
                        <a type="button" routerLink="/register" class="anchorStyle"><img
                                src="assets/Images/singup-image.png" style="width: 97px;"></a>
                    </div>
                    <div class="">
                        <a type="button" (click)="submitData()" class="anchorStyle"><img
                                src="assets/Images/logInButton.png" style="width: 97px;"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>