<div class="detailPage">
    <div class="card" *ngIf=" service.IsDoctorActive">
        <div class="card-header text-center">{{service.detailHeaderName}} <span
                class="fontstyle">{{service.doctorDetail.Name}}</span> Information</div>
        <div class="card-body">
            <div class="alignimage">
                <div class="userimage">
                    <div *ngIf="service.doctorDetail.ProfileImage.length > 15">
                        <img [src]="service.doctorDetail.ProfileImage" />

                    </div>
                    <div *ngIf="service.doctorDetail.ProfileImage.length < 15" style="margin-top: -15px;">
                        <p class="firstletter">{{service.doctorDetail.Name.charAt(0)}}</p>
                    </div>
                </div>
            </div>
            <div class="userdata">

                <div class="dataview">
                    <div class="">
                        RecId :
                    </div>
                    <div class="">{{service.doctorDetail.RecId}}</div>
                </div>
                <div class="dataview">
                    <div class="">
                        Name :
                    </div>
                    <div class="">{{service.doctorDetail.Name}}</div>
                </div>
                <div class="dataview">
                    <div class="">
                        Qualification :
                    </div>
                    <div class="dataview">
                        {{service.doctorDetail.Qualification}}
                    </div>
                </div>
                <div class="dataview">
                    <div class="" style="justify-self:end;">
                        Email :
                    </div>
                    <div class="">
                        {{service.doctorDetail.Email}}
                    </div>
                </div>
                <div class="dataview">
                    <div class="">
                        PhoneNumber :
                    </div>
                    <div class="">
                        {{service.doctorDetail.PhoneNumber}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer footerStyle">
            <div class="">
                <button class="bookingdetailbutton" (click)="backToList()">Back</button>
            </div>
        </div>
    </div>
    <div class="card" *ngIf=" service.IsPatientActive">
        <div class="card-header text-center">{{service.detailHeaderName}} <span
                class="fontstyle">{{service.patientDetail.Name}}</span> Information</div>
        <div class="card-body">
            <div class="alignimage">
                <div class="userimage">
                    <div *ngIf="service.patientDetail.ProfileImage.length > 15">
                        <img [src]="service.patientDetail.ProfileImage" />

                    </div>
                    <div *ngIf="service.patientDetail.ProfileImage.length < 15" style="margin-top: -15px;">
                        <p class="firstletter">{{service.patientDetail.Name.charAt(0)}}</p>
                    </div>
                </div>
            </div>

            <div class="userdata">

                <div class="dataview">
                    <div class="">
                        RecId :
                    </div>
                    <div class="">{{service.patientDetail.RecId}}</div>
                </div>
                <div class="dataview">
                    <div class="">
                        Name :
                    </div>
                    <div class="">{{service.patientDetail.Name}}</div>
                </div>
                <div class="dataview">
                    <div class="" style="justify-self:end;">
                        Email :
                    </div>
                    <div class="">
                        {{service.patientDetail.Email}}
                    </div>
                </div>
                <div class="dataview">
                    <div class="">
                        PhoneNumber :
                    </div>
                    <div class="">
                        {{service.patientDetail.PhoneNumber}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer footerStyle">
            <div class="">
                <button class="bookingdetailbutton" (click)="backToList()">Back</button>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="service.IsBookingActive || service.IsAppointmentActive">

        <ng-container *ngIf="service.IsBookingActive">
            <div class="card-header text-center">Booking Details</div>
        </ng-container>
        <ng-container *ngIf="!service.IsBookingActive">
            <div class="card-header text-center">Appointment Details</div>
        </ng-container>
        <div class="card-body">
            <!-- <div class="alignimage">
                <div class="userimage">
                    <div *ngIf="service.patientDetail.ProfileImage.length > 15">
                        <img [src]="service.patientDetail.ProfileImage" />

                    </div>
                    <div *ngIf="service.patientDetail.ProfileImage.length < 15" style="margin-top: -15px;">
                        <p class="firstletter">{{service.patientDetail.Name.charAt(0)}}</p>
                    </div>
                </div>
            </div> -->

            <div class="userdata">

                <div class="dataview">
                    <div class="">
                        RecId :
                    </div>
                    <div class="">{{service.bookingDetail.RecId}}</div>
                </div>
                <div class="dataview">
                    <div class="">
                        Doctor :
                    </div>
                    <div class="">{{service.bookingDetail.DoctorRecId}}</div>
                </div>
                <div class="dataview">
                    <div class="" style="justify-self:end;">
                        Patient :
                    </div>
                    <div class="">
                        {{service.bookingDetail.PatientRecId}}
                    </div>
                </div>
                <div class="dataview">
                    <div class="">
                        BookingDate :
                    </div>
                    <div class="">
                        {{service.bookingDetail.BookingDate}}
                    </div>
                </div>
                <div class="dataview">
                    <div class="">
                        BookingTime :
                    </div>
                    <div class="">
                        {{service.bookingDetail.BookingTime}}
                    </div>
                </div>
                <div class="dataview">
                    <div class="">
                        Description :
                    </div>
                    <div class="">
                        {{service.bookingDetail.Description}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer footerStyle">
            <div class="" *ngIf="!service.IsAppointmentActive">
                <button class="bookingdetailbutton" (click)="passData()">Update</button>
            </div>
            <div class="" style="margin-left: 7px;" *ngIf="!service.IsAppointmentActive">
                <button class="bookingdetailbutton" (click)="deleteBookingData()">Delete</button>
            </div>
            <div class="" style="margin-left: 7px;">
                <button class="bookingdetailbutton" (click)="backToList()">Back</button>
            </div>
        </div>

    </div>
</div>