<div class="maintablestyle">
    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let item of service.grid.GridColumns;let i=index">{{item.Name}}</th>

            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="service.IsDoctorActive">
                <tr *ngFor="let item of service.grid.GridData;let i=index">
                    <td>{{item.RecId}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Qualification}}</td>
                    <td>{{item.Email}}</td>
                    <td>{{item.PhoneNumber}}</td>
                    <td><button class="actionstyle" (click)="navigateToDetailPage(item)">Detail</button></td>
                </tr>
            </ng-container>
            <ng-container *ngIf="service.IsPatientActive">
                <tr *ngFor="let item of service.grid.GridData;let i=index">
                    <td>{{item.RecId}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Email}}</td>
                    <td>{{item.PhoneNumber}}</td>
                    <td><button class="actionstyle" (click)="navigateToDetailPage(item)">Detail</button></td>

                </tr>
            </ng-container>
            <ng-container *ngIf="service.IsBookingActive || service.IsAppointmentActive">
                <tr *ngFor="let item of service.showBookingData;let i=index">
                    <td>{{item.RecId}}</td>
                    <td>{{item.DoctorRecId}}</td>
                    <td>{{item.PatientRecId}}</td>
                    <td>{{item.BookingTime}}</td>
                    <td>{{item.BookingDate}}</td>
                    <td>{{item.Description}}</td>
                    <td><button class="actionstyle" (click)="navigateToDetailPage(item)">Detail</button></td>

                </tr>
            </ng-container>

        </tbody>
    </table>
</div>