/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

body {
    margin:0;
    height: 100vh;
    font-family: 'Heebo', sans-serif;
}



.registerScreen{
   text-align: center;
   padding-top: 110px;
   z-index: 1
}

.registerPage {
    border: 1px solid #652d90;
    display: inline-block;
    padding: 25px 23px;
    border-radius: 7px;
    border-radius: 17px;
    box-shadow: #652d90 0px 0px 10px
    /* background: #ffc4ff;   */
}

.registerOption > div > a {
    /* border: 1px solid violet;
    padding: 2px 4px; */
    border-radius: 7px;
    /* color: #883888; */
    cursor: pointer;

}

.registerOption > div >a:hover{
    padding: 3px 15px;
    background: #b53fb5;
    color: white !important;
}

/* .whenActive {
    border: 1px solid #883888;
    padding: 2px 4px;
    background: violet;
} */

.imageScreen{
    padding-bottom: 10px;
}


.registerOption > div {
    text-align: center;
}

.registerBody{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 7px;
}

.registerOption {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1e1px;
    border: 2px solid #652d90;
    border-radius: 7px;
    padding: 4px;
    margin-bottom: 13px;
    box-shadow: purple 0px 0px 2px;
}


.registerButtonScreen {
    text-align: center;
    padding-top: 8px;
}
 
.registerBody > .inputScreen > .inputStyle {
    border-radius: 7px;
    outline: none;
    border: 1px solid #652d90;
    padding: 3px 17px;
    margin: 1px;
    box-shadow: purple 0px 2px 3px;
}

.anchorStyle {
    margin-top: 8px;
    cursor: pointer;
}

.registerBody > .inputScreen > .inputStyle::placeholder {
    color: #883888 !important;
    font-size: 13px;
}

.registerPage >form >.logInBody {

    display: grid;
    grid-gap: 10px;
    margin-top: 7px;
}

.logInBody > .inputScreen > .inputStyle {
    border-radius: 7px;
    outline: none;
    border: 1px solid #652d90;
    padding: 3px 18px;
    margin: 1px;
    box-shadow: purple 0px 2px 3px;
}

.logInBody > .inputScreen > .inputStyle::placeholder {
    color: #883888 !important;
    font-size: 13px;
}

.logInButtonScreenStyle {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.IsActive {
    padding: 3px 15px;
    background: #b53fb5;
    color: white !important;
}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }

.file-input label {
    display: block;
    position: relative;
    width: 184px;
    height: 33px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #883888 !important;
    box-shadow: purple 0px 2px 3px;
    cursor: pointer;
    transition: transform .2s ease-out;
    border: 1px solid;
    font-size: 13px;

  }

.file-input {
    text-align: -webkit-center;
    margin-top: 13px;
  }

.mynavstyle{
    justify-content: flex-end;
  }
.maintablestyle {
    margin-top: 13px;
    height: 88vh;
    overflow-y: scroll;
  }

 .maintablestyle > table >thead >tr >th {
    position: sticky;
    top: 0;
    z-index: 5;
    background: whitesmoke;
    border: none;
    padding: 12px;
  }

  .navScreenStyle {
    background: whitesmoke;
    padding: 4px;
    margin: 0;
    align-items: center;
  }

  .rightnavgap{
    align-items: center;
    justify-content: flex-end;
  }

  .navcontent{
    cursor: pointer;
    padding: 0 15px 0 0;
  }

.rightnavgap > .profileImageStyle{
    border: 1px solid gray;
    border-radius: 50%;
    width: 40px;
    height: 40px;

  }

  .detailPage > .card > .card-body >.alignimage > .userimage {
    border: 1px solid gray;
    border-radius: 50%;
    width: 78px;
    height: 75px;
    text-align: center;
  }

  .detailPage > .card > .card-body >.alignimage{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  .detailPage > .card > .card-body > .userdata{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .detailPage > .card > .card-body > .userdata > .dataview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 7px;
    padding-bottom: 2px;
  }

  .detailPage > .card {
    margin-top: 13px;
  }

  .detailPage > .card > .card-body >.alignimage > .userimage > div >img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .detailPage > .card > .card-body >.alignimage > .userimage > div >.firstletter {
    font-size: 65px;
    color: cornflowerblue;
}

.rightnavgap > .navcontent >.alignimage {
    display: flex;
    justify-content: center;
    /* margin-bottom: 25px; */
}

.rightnavgap > .navcontent >.alignimage > .userimage { 
    border: 1px solid gray;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
} 

.rightnavgap > .navcontent >.alignimage > .userimage >div >img {
    width: 43px;
    height: 43px;
    border-radius: 50%;
}

.rightnavgap > .navcontent >.alignimage > .userimage >div >.firstletter {
    font-size: 38px;
    color: cornflowerblue;
}

.detailPage >.card >.card-header > .fontstyle {
    font-size: 16px;
}

.maintablestyle > table > tbody > tr > td > .actionstyle{
    padding: 1px 6px;
    border: 1px solid gray;
    border-radius: 6px
}

.navScreenStyle > .rightnavgap > .currentusername {
    font-size: 18px;
    color: #212529;
}

.addbooking{
    margin-top: 13px;
}

.addbooking > .card > .card-body > .main > div > form > .row > div > .form-control{
    width: 36%;
    height: calc(33px);
    margin-top: -2px;
}

.addbooking > .card > .card-body > .main > div > .bookingbutton {
    border: 1px solid gray;
    border-radius: 5px;
}

.text-underline{
    text-decoration: underline;
}

.detailPage > .card > .footerStyle {
    display: flex;
    justify-content: center;
}

.detailPage > .card > .footerStyle >div > .bookingdetailbutton{
    border: 1px solid gray;
    border-radius: 5px;
}

router-outlet{
    display: none;
}

.routecontainer{
    position: relative;
}

.routecontainer >* {
    display: block;
}






